{% extends "master.html.twig" %}

{% block title %}Add Extras{% endblock title %}
{% block content %}

    <div class="row mx-5 bordered rounded text-success bg-light p-1 border-success" style ="margin-top:80px">
        <div class="col-md-12 col-sm-12 text-center bg-light p-3 align-self-center">
            <h1 class="text-success mt-5 mb-5">{{ messages['extrastitle']}}</h1>
        </div>
        <div class="col-md-4 col-sm-12 text-center bg-light p-3 align-self-center">
            <img class="img-fluid img-limit" src="resources/cars2/{{car.imagePath}}" alt="cosen car">
        </div>
        <div class="col-md-4 col-sm-12 text-center bg-light p-3  align-self-center">
                <h2 class="text-success ">{{car.model}}</h2>
                <h4 class="text-success ">{{userSession.carLocation.address}}</h4>
                <h4 class="text-success ">{{userSession.carLocation.city}}</h4>
                <h4 class="text-success ">{{userSession.carLocation.phone}}</h4>
        </div>
        <div class="col-md-4 col-sm-12 text-center bg-light p-3 align-self-center">
            <h2 class="text-success ">{{ messages['costestimatestring']}}:</h2>
            <h2 class="text-success ">$ {{car.dailyCost|number_format(2, '.', ',')}}</h2>
        </div>
    </div>

    <form method="POST">
    {% for e in extras %}
        <div class="row bg-light m-5 shadow-lg ">
            <div class="col-md-4 col-sm-12 text-center bg-light p-3 align-self-center">
                    <img class="img-fluid img-limit" src="resources/extras/{{e.picReference}}" alt="extra item">
            </div>
            <div class="col-md-4 col-sm-12 text-center bg-light p-3  align-self-center">
                    <h2 class="text-success ">{{e.name}}</h2>
                    <h3 class="text-success ">+ ${{e.cost|number_format(2, '.', ',')}}</h3>
            </div>
            <div class="col-md-4 col-sm-12 text-center bg-light p-3 align-self-center">
                <input type="checkbox" value="{{e.id}}" name="cb{{e.id}}" class="form-check-input border-success border-2">
                <input type="text" value='{{car.id}}' name='id' class="hidden" >
            </div>
        </div>
    {% endfor %}
    <div class="col-md-12 col-sm-12 text-center p-3 align-self-center ">
        <input type="submit" name="cb{{e.id}}" class="btn btn-success bt-width mb-4" value="{{ messages['nextbt']}}" >
        <input type="text" value='2' name='exit' class="hidden" >
    </div>
    </form>
{% endblock content %}
